
// parameters for verifybamid

params.vcf_file = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G08V2gj41zgGYp1K79YZXqx8"
params.file_type = "*{.bam,.bam.bai}"
params.file_path = ""
params.outdir = "./verifybamid_output" //name of output folder
params.bam_files = "$params.file_path"+"$params.file_type"

//machine type
process {
    withName:VERIFYBAMID {
        machineType = 'mem1_ssd1_v2_x36'
  }
}
//parallel run
executor {
    queueSize = 99
}
